.background-image{
    --background: url('../three/QuizText-BG.jpg') 0 0/100% 100% no-repeat;
    text-align: center ;
   
}
h2{
    color: rgb(252, 252, 253);
}
h1{
    color:rgb(250, 243, 243);

}
h4{
    color:rgb(250, 243, 243);

}