.background-image{
    --background: url('../one/quiz1.jpg') 0 0/100% 100% no-repeat;
    text-align: center ;
   
}
h2{
    color: rgb(243, 32, 32)
}
h1{
    color:rgb(250, 243, 243);

}
// ion-label{
//     length:
// }
h4{
    color:rgb(243, 32, 32)
    ;

}