.button{
    
    text-align: center ;

}
.background-image{
    --background: url('../home/quiz9.jpg') 0 0/100% 100% no-repeat;
    text-align: center ;
   
}
h1{
    -webkit-text-fill-color: #3b3302;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:#f9fafc;

}