

<ion-content class="button" class="background-image">
    <br><br>
  <h1><i><b>Welcome to the Quiz.....</b></i></h1> 
  <h1><i><b>Quiz.....</b></i></h1>
  <h1><i><b>Quiz.....</b></i></h1>
  <h1><i><b>Quiz.....</b></i></h1>
 
  <br>
  <h1><i><u>Choose a category</u></i></h1>
  <br>
  <ion-grid><ion-row><ion-col>
 <ion-button color="medium" (click)="start2()">Video Games</ion-button>
 <br>
 <ion-button color="medium" (click)="start()"> Vehicle</ion-button>
 <br>
 <ion-button color="medium" (click)="start1()"> Computer Science</ion-button>
</ion-col></ion-row></ion-grid>
</ion-content>
